* {
  font-family: "SF Pro Display";
  font-size: 12px;
  min-height: 0;
  font-weight: 500;
}

window#waybar {
  background: transparent;
}

#waybar .module {
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  border-radius: 0.2rem;
}

button {
  border: none;
  border-radius: 0.2rem;
  color: #f3f3f3;
}

#workspaces button {
  margin: 0 0.2rem 0 0;
}

#workspaces button.active {
  background-color: #3b4261;
}

#clock {
  background-color: #3b4261;
  padding: 0 1rem;
  border-radius: 0.2rem;
}

#battery {
  background-color: #3b4261;
}

#network {
  background-color: #3b4261;
}

#pulseaudio {
  background-color: #3b4261;
}
