* {
  font-family: "SF Pro Display";
  font-size: 12px;
  font-weight: 600;
}

window#waybar {
  background: rgba(26, 27, 38, 0.8);
  border: 1px solid rgb(122, 162, 247);
  border-radius: 100px;
}

#waybar .module {
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  border-radius: 1rem;
}
